.header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    position:sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    flex: 1;
}

.header_left{
    display: flex;
    padding: 5px;
 
    
}
 img{
    padding-left: 10px;
    padding-top: 5px;
}
.header_middle{
    display: flex;
    align-items:center;
    flex: 0.7;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
.header_middle > .MuiSvgIcon-root{
    color:grey;
}
.header_middle > Input {
    border:none;
    outline:none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size:medium;
 
}
.header_right{
    display: flex;
    padding-right: 10px;

}

