body{
  padding: 0;
  margin: 0;
  /* font-family: 'Playfair Display', serif; */
font-family: 'Poppins', sans-serif;
}
.app_body{
  display: flex;
  height: 100vh;
  
}
.app{
  height: 100vh;
}
.section:hover{

  /* padding: 5; */
  background-color:rgb(225, 221, 221);
  border-radius: 5px;

}